img {
    border: solid 1px red;
    border-top: solid 5px red;
    border-left: solid 5px red;
    width: 90%;
    margin: 20px;
}
div {
    height: 400px;
    width: 400px;
    background-color: rgb(117, 33, 117);
    border: double 10px rgb(236, 23, 116);
    padding: 10px 10px 10px 10px;
    margin: auto;
}